<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My visited places!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <form action="/places" method="post">
      <label for="cityname">Add a new Place</label>
      <input id="cityname" name="cityname" type="text">
      <hr><br>
      <label for="time">Add the time you spend there: </label>
      <input id="time" name="time" type="number">
      <hr><br>
      <label for="imageUrl">Add the URL on image: </label>
      <input id="imageUrl" name="imageUrl" type="text">
      
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>